 <aside class=" categories-side-menu jr m-only p-2 ">
   <h3>Categories</h3>
    <ul class="jr mt-2">
      {{#each categories}}
        <li class="jr mt-1"><a class="link-darkg-bg" href="/products/{{this}}" class="jr flex-col between ct-product center">{{capitalizeFirst this}}</a></li>
      {{/each}}
    </ul>

  </aside>