<div class="jr modal-bg" id="login-modal">
  <div class="jr card center-modal p-2">
    <button value="#login-modal" class="close-modal-btn">X</button>
    <h3>Login</h3>
    <p>Lorem ipsum dolor sit amet.</p>

  </div>
</div>
<script type="module" src="/js/login.js"></script>
