<div class="jr modal-bg" id="login-modal" style= {{#if loginModal}}"display: block;"{{else}}"display: none;"{{/if}}>
  <div class="jr card center-modal p-0">
    {{!-- <button value="#login-modal" class="close-modal-btn">X</button> --}}
    <img class="amazon-logo jr m-auto mt-2" src="/assets/img/amazon/amazon-logo.svg" alt="">
    <form id="login-form" class="jr flex-m-col center" method="POST" action="/user/login">           
      <div class="jr flex-m-col card p-1 m-2">
        <h3>Sign-In</h3>

        <input type="hidden" name="currentRoute" value='/' id='login-current-route'>

        <label class='jr' for="login-email">Email</label>
        {{#if loginTry}} {{#ifeq loginEmail " "}} <span style="color: red">Enter your email</span>  {{/ifeq}} {{/if}}
        {{#if error}}  <span style="color: red">{{error}}</span> {{/if}}
        {{!-- {{#if loginTry}} {{#ifeq loginEmail " "}} <span style="color: red">Enter your email</span>  {{/ifeq}} {{/if}} --}}
        <input class='jr' type="text" name="email" id="login-email" value={{#if loginEmail}}"maschietto.jr@gmail.com"{{loginEmail}}{{else}}"maschietto.jr@gmail.com"{{/if}}>
        {{!-- {{#ifeq loginEmail " "}} <span style="color: red">Enter you email</span>  {{/ifeq}} --}}

        <label class='jr' for="login-password">Password</label>
        {{#if loginTry}} {{#ifeq loginPassword " "}} <span style="color: red">Enter a password</span>  {{/ifeq}} {{/if}}
        <input class='jr' type="password" name="password" id="login-password" placeholder="At least 6 characters" value="123456">
        <small class='jr'>&#128712 Passwords must consist of at least 6 characters.</small>
      </div>
        <input class="jr button m-2 mt-0" type="submit" value="Sign-In">
    </form>

  </div>
</div>
<script type="module" src="/js/login.js"></script>
