<div class="jr modal-bg" id="registration-modal">
  <div class="jr card center-modal p-2">
    <button value="#registration-modal" class="close-modal-btn">X</button>
    <h3>Registration</h3>
    <p>Lorem ipsum dolor sit amet.</p>

  </div>
</div>  
<script type="module" src="/js/registration.js"></script>
