<article class="jr card">

  <h2>{{user.name}}, you are at the Clerk Panel</h2>

  <p><b>Email: </b> {{user.email}}</p>

  <article class="jr card">

    <nav class="jr p-2">
      <ul class="jr flex-row list-raw w70 m-auto evenly">
        <li><a class="jr button" href="/add-product">Add Product</a></li>
        <li><a class="jr button" href="/edit-product">Edit Product</a></li>
        <li><a class="jr button" href="/list-products">List All Products</a></li>
      </ul>
    </nav>

  </article>


</article>