<section class="home-body">

  <article class="promo-banner jr mt-1">
    <img class="jr img" src="/assets/img/banners/banner-1.png" alt="">
  </article>

  {{!-- With image and links --}}
  <article class="product-category">
    <h3 class="display-title jr mt-2">Categories</h3>
    <ul class="jr flex-m-row">
        {{#each categories}}
        {{#name}}
          <li class="jr col-m-3 card p-1">
            <a href="/products/list/{{this}}" class="jr flex-m-col between ct-product center">
              <h4>{{capitalizeFirst this}}</h4>
              <img class="jr img" src="/assets/img/categories/{{this}}.jpg" alt="">
            </a>
          </li>
        {{/name}}

        {{/each}}
    </ul>
  </article>

  {{!-- With image and links --}}
  {{!-- https://via.placeholder.com/250 --}}
  <article class="best-selling">
  <h3 class="display-title jr m-0 mt-2">Best Selling</h3>
    <ul class="jr flex-m-row flex-m-wrap">
        {{#each bestSellers}}
          {{>product justPicture=true imgSrc = this.imgSrc id=this._id }}
        {{/each}}
    </ul>
  </article>

</section>